<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 빈 정의 -->
<!-- 1. 기본형 멤버 값 지정 -->
<!-- 	(1) 생성자 함수로 지정 -->
<bean id='member' class="ex1_xml2_ref.MemberBean">
	<constructor-arg value='홍홍이'/>
	<constructor-arg value='22'/>
	<constructor-arg>
		<value>안녕하세요</value>
	</constructor-arg>
</bean>

<!-- 1. 기본형 멤버 값 지정 -->
<!-- 	(2) setter로 지정 -->
<bean id='member2' class="ex1_xml2_ref.MemberBean">
	<property name="name" value='홍홍구'></property>
	<property name="age">
		<value>25</value>
	</property>
	<property name="message" value='오늘도 파이팅'></property>
</bean>

<!-- 2. 참조형 멤버 값 지정 -->
<!--  (1) 생성자 함수로 지정 (다른 객체 속성 가져올 때 "ref" 사용) -->
<bean id='dao' class="ex1_xml2_ref.MemberDAO">
	<constructor-arg ref='member'/>
</bean>

<!--	(2) setter로 지정 -->
<bean id='dao2' class="ex1_xml2_ref.MemberDAO">
	<property name="member" ref='member2'/>
	<!-- setMember() 호출 -->
</bean>



</beans>
