<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id='bean' class="ex1_xml3_list.ListBean">
	<property name="intList"> <!-- setIntList()호출 -->
		<list>
			<value>22</value>
			<value>33</value>
			<value>44</value>
		</list>
	</property>
	<property name="memberList"> <!-- setMemberList()호출 -->
		<list>
			<ref bean='m1'/>
			<ref bean='m2'/>
			<!-- 무명 빈 -->
			<bean class="ex1_xml3_list.MemberBean">
			<!-- 생성자 or setter 이용해서 값 지정하기 -->
				<property name="name" value='홍홍훙'></property>
				<property name="age" value='35'></property>
				<property name="message" value='프로젝트 파이팅'></property>
			</bean>
		</list>
	</property>
</bean>

<!-- 멤버 빈 객체 생성 -->
<bean id='m1' class="ex1_xml3_list.MemberBean">
<!-- (1)생성자 이용해서 값 지정하기 -->
	<constructor-arg name='name' value='홍홍이'/>
	<constructor-arg name='age' value='25'/>
	<constructor-arg name='message' value='점메추 받습니다'/>
</bean>

<bean id='m2' class="ex1_xml3_list.MemberBean">
<!-- (2)setter 이용해서 값 지정하기 -->
	<property name="name" value='홍홍뀨'></property>
	<property name="age" value='30'></property>
	<property name="message" value='배가 고픕니다.'></property>
</bean>

</beans>
